* {
	font-family: "Noto Sans", sans-serif;
}

#canvas-container {
	display: flex;
	flex-direction: column;
	width: max-content;

	border-style: solid;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-color: #1669ee;
	border-color: #1669ee;
}

#icon-container{
	display: flex;
	align-items: center;
	justify-content: end;
	padding: 2px;
}

#menu-container {
	display: flex;
	background-color: #ece9d8;
}

.blue-background {
	background-color: #1660e8;
	color: #ffffff;
}

.none-background {
	background: none;
}

#game-menu {
	padding: 0;
	border: none;
	font-size: 11px;

	width: 41px;
	height: 20px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

#dropdown-content {
	display: flex;
	flex-direction: column;
	font-size: 11px;
}

.dropdown-content-hidden button {
	display: none;
}

.dropdown-content-shown {
	position: absolute;
	top: 20px;

	background-color: #ece9d8;
}

.dropdown-content-shown > button {
	padding: 0;
	border: none;
	font-size: 11px;

	display: flex;
	align-items: start;
	justify-content: start;
}

#mine-container {
	flex-grow: 1;
	display: flex;
	align-items: center;
	flex-direction: row;

	font-weight: 700;
	font-size: 12px;
	color: white;
	
	/* iOS Safari */
	-webkit-touch-callout: none;
	/* Safari */
	-webkit-user-select: none;
	/* Konqueror HTML */
	-khtml-user-select: none;
	/* Old versions of Firefox */
	-moz-user-select: none;
	/* Internet Explorer/Edge */
	-ms-user-select: none;
	/* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
	user-select: none;
}

#mine-icon {
	width: 15px;
	height: 15px;
}

.window-icon {
	height: 21px;
	width: 21px;
	border-color: #87a9f0;
}

#minimize-icon {
	background-image: url( "minimize.svg" );
}

#zoom-icon {
	background-image: url( "zoom.svg" );
	margin-left: 2px;
	margin-right: 2px;
}

#close-icon {
	background-image: url( "close.svg" );
}
